@import "./common.styl"

html
	background: no-repeat center center fixed;
	background-image: url('../image/background/night.jpg') 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	box-sizing: border-box

*, *:before, *:after {
  box-sizing: inherit;
}

body
	scrollbar-gutter: stable both-edges;

	&::-webkit-scrollbar {
	width: 8px;    
	}

	&::-webkit-scrollbar-track {
	background: none    
	}

	&::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0 , 0, 0.3)  
	border-radius: 10px;   
	}

textCenter()
	width: 100%
	text-align: center
	display: inline-block
	text-shadow: 2px 2px 10px rgba(0, 0 , 0, 0.6)

blockDefault()
	color: #fff
	padding: 10px
	position: relative

blockTitle()
	height: 20px
	width: 100%
	display: flex
	align-items: center
	color: rgba(256, 256 , 256, 0.5)

	@media (max-width: 600px)
		height: 20px
	

.hamburgerBox
	width: 100%
	height: 30px
	position: absolute
	top: 30px
	left: 30px
	display: none

	.hamburger
		max-height: 100%
		object-fit: cover
		cursor: pointer

.closeBox
	width: 100%
	height: 20px
	display: none
	justify-content: flex-end

	.close
		max-height: 100%
		object-fit: cover
		cursor: pointer



.blockSB
	width: 250px
	height: 100%
	position: fixed
	padding: 10px
	-webkit-backdrop-filter:saturate(100%) blur(20px);  //for safari
	backdrop-filter: saturate(100%) blur(20px)
	background-color: rgba(240, 235 ,232, 0.8)
	overflow-y: auto
	z-index: 1
	scrollbar-gutter: stable;

	&::-webkit-scrollbar {
	width: 8px;    
	}

	&::-webkit-scrollbar-track {
	background: none    
	}

	&::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0 , 0, 0.2)  
	border-radius: 10px;   
	}


	&__select
		margin-top: 20px
		margin-bottom: 30px
		background-color: rgba(240, 235 ,232, 0.3)
		border: 1px solid rgba(0, 0, 0, 0.2)
		border-radius: 5px
		width: 100%
		height: 40px
		color: $secondary70
		text-align: center

		&:focus
			outline: none;


	&__container
		height: 60px
		padding: 5px
		position: relative
		border-radius: 5px
		transition: 0.3s

		&:hover
			background-color: rgba(240, 235 ,232, 0.4)
			transition: 0.3s
			cursor: pointer
	.active
		background-color: rgba(240, 235 ,232, 0.4)

	&__area
		position: absolute
		left: 5px
		color: $secondary70

	&__condition
		position: absolute
		bottom: 5px
		left: 5px
		color: $secondary50
	
	&__temp
		position: absolute
		top: -5px
		right: 5px
		color: $secondary50

	&__subTemp
		position: absolute
		bottom: 0
		right: 5px
		bottom: 5px
		color: $secondary20

	&__hr
		width: 95%
		border: 0.5px solid rgba(0, 0, 0, 0.2)

	

.mainBlock
	width: 100%
	height: 100%
	overflow-y: auto
	padding-top: 110px
	padding-bottom: 110px
	padding-left: 250px


.headline
	width: 100%
	height: 150px
	display: flex
	justify-content: center
	align-items: center

	&__container
		width: 200px
		max-height: 100%
		color: #fff
		position: relative

	&__area 
		textCenter()

	&__temp
		textCenter()

	&__condition
		textCenter()

	&__subtemp
		textCenter()

.areaInfo
	width: 100%
	height: auto
	padding: 10px
	box-sizing: border-box

.areaInfo__container
	width: 100%
	height: 100%
	display: grid;
	grid-template-columns: 180px 180px 180px 180px;
	grid-template-rows: 180px 180px 180px;
	grid-gap: 20px;
	grid-template-areas: 
	"block1 block1 block1 block1" "block2 block2 block3 block4" "block2 block2 block5 block6" 
	justify-content: center
	
	

.box
	width: 100%
	height: 100%
	border-radius: 10px
	-webkit-backdrop-filter:saturate(100%) blur(20px);  //for safari
	backdrop-filter: saturate(100%) blur(20px)
	background-color: rgba(0, 0, 0, 0.12)

.byHour
	grid-area: block1;
	display: flex
	flex-wrap: wrap
	overflow-x: auto
	scrollbar-gutter: stable both-edges;
	padding-left: 10px

	&::-webkit-scrollbar {
	height: 8px;   
	}

	&::-webkit-scrollbar-track {
	background: none    
	}

	&::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0 , 0, 0.2)  
	border-radius: 8px;   
	}

	&__title
		color: #fff
		width: 90%
		height: 20px
		margin-top: 10px
		margin-bottom: 10px
		padding: 5px 0 5px 0
		display: flex
		align-items: center

.hourInfo
	width: auto
	height: 70%
	display: flex
	align-items: center
	border-top: 0.5px solid rgba(256, 256, 256, 0.2)
	padding-top:20px

	&__container
		width: 70px
		height: 100%
		display: flex
		flex-wrap: wrap
		justify-content: center
		color: #fff
		margin-right: 20px

	&__time
		width: 100%
		text-align: center

	&__iconBox
		width: 100%
		height: 30px
		display: flex
		justify-content: center

	&__icon
		max-height: 100%
		object-fit: cover


.byWeek
	grid-area: block2;
	color: #fff
	padding-top: 5px
	
	&__title
		height: 30px
		width: 100%
		display: flex
		align-items: center
		margin-left: 10px
		margin-bottom: 5px

	&__hr
		width: 90%
		border: 0.5px solid $secondary10
		margin: 0 auto
		
.dayInfo
	width: 95%
	height: auto
	margin: 0 auto

	&__container
		width: 100%
		height: 47px
		display: flex
		align-items: center
		justify-content: space-between
		padding: 5px
		border-top: 0.5px solid rgba(256, 256, 256, 0.2)


	&__iconbox
		width: 25px
		height: 25px

	&__icon
		max-height: 100%
		object-fit: cover

.tempBox
	display: flex
	align-items: center
	justify-content: space-between
	width: 170px
	
	&__low
		width: 25px
		text-align: right

	&__high
		width: 25px
		text-align: right

	&__barBG
		width: 100px
		height: 5px
		border-radius: 5px
		margin: 0 10px 0 10px
		background-color: rgba(0, 0, 0, 0.2)
		position: relative	

	&__bar
		width: 100%
		height: 5px
		background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(255,179,14,1) 100%);
		border-radius: 5px
		position: absolute
		clip-path:inset(0 10% 0 0 round 5px);

	&__point
		height: 10px
		width: 10px
		position: absolute
		top: -2px
		border-radius: 6px
		background-color: #fff
		border: 2px solid $secondary70
		


.UV
	grid-area: block3;
	blockDefault()

	&__title
		blockTitle()


.UVBox
	display: flex
	align-items: center
	justify-content: space-between
	margin: 15px 0 15px 0

	&__barBG
		width: 100%
		height: 5px
		border-radius: 5px
		background-color: rgba(0, 0, 0, 0.2)

	&__bar
		width: 100%
		height: 5px
		background: linear-gradient(90deg, rgba(101,235,39,1) 0%, rgba(255,215,9,1) 25%, rgba(255,135,29,1) 50%, rgba(255,16,71,1) 75%, rgba(136,74,179,1) 100%);
		border-radius: 5px
		position: relative



	&__point
		height: 10px
		width: 10px
		position: absolute
		top: -2px
		border-radius: 6px
		background-color: #fff
		border: 2px solid $secondary70



.humidity
	grid-area: block4;
	blockDefault()

	&__title
		blockTitle()

	&__info
		margin-top: 54px


.apparentTemp
	grid-area: block5;
	blockDefault()

	&__title
		blockTitle()

	&__info
		margin-top: 54px


.conclusion
	grid-area: block6;
	blockDefault()

	&__title
		blockTitle()

	&__info
		margin-top: 5px

@media (max-width: 1200px)

	.areaInfo__container
		grid-template-columns: 150px 150px;
		grid-template-rows: 150px 150px 150px 150px 150px ;
		grid-gap: 20px;
		grid-template-areas: 
		"block1 block1" "block2 block2" "block2 block2" "block3 block4" "block5 block6" 
		justify-content: center

	
	.dayInfo
		&__container
			height: 38px

		&__iconbox
			width: 20px
			height: 20px

	.UVBox
		margin: 10px 0 10px 0

	.humidity__info
		margin-top: 44px;
	
	.apparentTemp__info
		margin-top: 44px



@media (max-width: 600px)
	.hamburgerBox
		display: block

	.closeBox
		display: flex

	.blockSB
		width: 300px
		z-index: 1
		left: -300px

	.mainBlock
		padding-left: 0


@keyframes slideIn 
	0%
		left: -300px
	100%
		left: 0px

@keyframes slideOut
	0%
		left: 0px
	100%
		left: -300px

